.container {
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.main {
  padding: 1rem;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.nav > * {
  width: 100%;
}

.upload_btn {
  padding: 1em;
  background-color: lightblue;
  border: 1px solid grey;
  outline: none;
}

.upload_btn:hover {
  background-color: lightskyblue;
  border: 1px solid black;
}

.search_input {
  padding: 1em;
  margin-top: 1em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 0;
}

.header h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 2rem;
}

.header > * {
  width: 100%;
}

.files_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.file_card {
  border: 1px solid black;
  list-style: none;
  padding: 1rem;
  margin: 0;
  flex-grow: 1;
  margin-top: 1rem;
}

.file_card:first-child {
  margin-top: 0;
}

.file_card footer {
  display: flex;
  justify-content: space-between;
}

.delete_btn {
  padding: 0 1em;
  background-color: lightblue;
  border: 1px solid grey;
  outline: none;
}

.delete_btn:hover {
  background-color: lightskyblue;
  border: 1px solid black;
}

@media only screen and (min-width: 376px) {
  .nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
  }

  .nav > * {
    width: auto;
  }

  .search_input {
    margin: 0 1rem 0 0;
    flex-grow: 1;
    max-width: 500px;
  }

  .upload_btn {
    padding: 1rem 3rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0 0 0;
  }
  
  .header > * {
    width: auto;
  }

  .files_container {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .file_card {
    margin: 0;
    width: 32%;
  }

  .file_card:first-child {
    margin: 0;
  }
}